fastapi
tortoise-orm[asyncpg]
uvicorn
aerich
PyJWT
pydantic_settings
pydantic[email]
passlib
loguru
argon2_cffi
python-multipart
httpx
pylint
flake8
curlify
apscheduler # 添加apscheduler用于定时任务
psycopg2-binary # PostgreSQL适配器
asyncpg
minio # MinIO Python客户端